:root {
  --text: #242424;
  --main-light-1: #FAFAE1;
  --main-light-2: #F0F0D7;
  --main-light-3: #E6E6C8;
  --main-light-4: #DCDCBE;
  --main-light-5: #D2D2B4;
  --main-dark-1: #323219;
  --main-dark-2: #4B4B32;
  --main-dark-3: #64644B;
  --alt-dark-3: #646432;
}